body {
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen', sans-serif, arial;

  background-color:#fafcff;
}

a, a:visited {
  text-decoration:inherit;
  color:inherit;
}

#header-menu {
  position:relative;
  margin-bottom:1em;
}

#image-logo {
  width:150px;
  padding: 1em;
  padding-right: 2em;
  vertical-align:middle;
}

#copyright {
  box-sizing:border-box;
  width:100%;
  bottom:0px;
  padding:1em;

  color:#b799dc;
  text-align:right;
}


.button-menu {
  display:inline-block;
  vertical-align:middle;
  padding:0.25em 0.25em 0.25em 3em;
  margin-right:0.25em;
  font-size:1.5em;
  font-weight:bold;
}


.button-center {
  position:relative;
  text-align:center;
  box-sizing:border-box;
  margin:0.5em auto;
  padding:0.5em;

  font-size:2em;
  font-weight:bold;

  background-color:#a2e588;
  color:white;
}
.button-center:hover {
  opacity:0.85;
}


.panel-quote,
.panel-info {
  width:80%;
  margin:0.5em 10% 0.75em 10%;
  opacity:0.9;
}

.panel-quote {
  font-size:1.2em;
  text-align:center;
}

.panel-info {
  font-size:1.1em;
  line-height:1.8em;
  text-align:justify;
}

.panel-big {
  font-size:1.6em;
  line-height:2em;
  text-align:center;
}


.galleria {
  width:100%;
  height:65%;
}
.galleria-container {
  background-color:inherit;
}
.galleria-images {
  background-color:#e9f9e4;
}
.galleria-thumbnails-list .galleria-image {
  border:none !important; /* Override the "classic" theme's borders. */
}

.image-link {
  max-height:1em;
  vertical-align:middle;
  opacity:0.5;
}



.highlight-1 { /* Blue */
  color:#548fcb;
  background-color:#DCE8F4;
}
.highlight-1:hover { background-color:#EDF3F9; }

.highlight-2 { /* Tan */
  color:#e5bc88;
  background-color:#F7EADB;
}
.highlight-2:hover { background-color:#f9f1e7; }

.highlight-3 { /* Tan */
  color:#a2e588;
  background-color:#dcf5d3;
  font-weight:bold;
}
.highlight-3:hover { background-color:#e4f7dd; }


.bold-1, .bold-2, .bold-3, .bold-4 { font-weight:bold; }
.bold-1 { color:#786591; }
.bold-2 { color:#a68863; }
.bold-3 { color:#758a9f; }
.bold-4 { color:#658e55; }
