<html>

  <title>Bricolage</title>

  <head>

    {% include "style.html" %}
    {% include "scripts.html" %}

  </head>


  <body>

    {% include "top_header.html" %}

    <!-- "Interested" Button to Collect Emails -->
    <a href="http://goo.gl/forms/7tFVw3zdgv">
      <div class='button-center'>
        <img class='image-link'
             src="{{STATIC_URL}}images/link.png"/>
        sign up for info!
      </div>
    </a>

    <!-- "Interested" Button to Collect Emails -->
    <a href="http://goo.gl/forms/GqWacsfrSo">
      <div class='button-center'>
        <img class='image-link'
             src="{{STATIC_URL}}images/link.png"/>
        suggest an idea!
      </div>
    </a>

    <!-- A sample image "galleria" -->
    <div class="galleria">
      <img src="http://imgur.com/Tz84c8o.jpg"/>
      <img src="http://imgur.com/wy6H38E.jpg"/>
      <img src="http://imgur.com/LaefRcg.jpg"/>
      <img src="http://imgur.com/bvmXqL3.jpg"/>
      <img src="http://imgur.com/fylwf5j.jpg"/>
    </div>


    {% include "copyright.html" %}


  </body>

  <script>
    var STATIC_URL = "{{STATIC_URL}}";
  </script>

  <script src="{{STATIC_URL}}js/main.js"></script>

</html>
